@model CustomerEditViewModel;
@{
    ViewData[$"{DataResource.Title}"] = "Profile";
}

@if (!string.IsNullOrEmpty(@ViewData[$"{DataResource.Info}"]?.ToString()))
{
    <div class="bg-green-100 p-5 mt-3 w-1/2 mx-auto rounded" id="Message">
        <div class="flex justify-between items-center">
            <div class="flex space-x-3">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="flex-none fill-current text-green-500 h-4 w-4">
                    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.25 16.518l-4.5-4.319 1.396-1.435 3.078 2.937 6.105-6.218 1.421 1.409-7.5 7.626z" />
                </svg>
                <div class="flex-1 leading-tight text-sm text-green-700 font-medium">@ViewData[$"{DataResource.Info}"]</div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="flex-none fill-current text-green-600 h-3 w-3" id="close-message">
                <path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z" />
            </svg>
        </div>
    </div>
}
<div class="w-1/2 mx-auto mt-5">
    <div class="text-white mx-3 mb-5 bg-gray-600 rounded overflow-hidden shadow-md flex flex-col items-center">        
        <div class="bg-cover h-48 bg-gray-700 w-full">
            <div class="mt-5">
                <span class="block font-bold text-2xl text-white text-center pt-5">
                    Your Profile:
                </span>
            </div>
        </div>
            <div class="px-4">
                <div class="text-center mb-4">
                    <img class="h-32 w-32 mx-auto rounded-full border-4 border-gray-800 -mt-16 bg-gray-800 text-gray-800" src="~/images/avatar.png" alt="Avatar">
                    <div class="py-2 pt-3">
                        <div class="pt-1 pb-4 text-left w-full mx-auto">
                            <form class="w-full max-w-lg" asp-controller="Customer" asp-action="Index" method="post">
                                <div class="flex flex-wrap -mx-3 mb-6">
                                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                        <label class="block uppercase tracking-wide text-gray-300 text-xs font-bold mb-2">
                                            First Name
                                        </label>
                                    <input autocomplete="off" asp-for="FirstName"
                                        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded-lg py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="text">
                                    </div>
                                    <div class="w-full md:w-1/2 px-3">
                                        <label class="block uppercase tracking-wide text-gray-300 text-xs font-bold mb-2">
                                            Last Name
                                        </label>
                                    <input autocomplete="off" asp-for="LastName"
                                           class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded-lg py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text">
                                    </div>
                                </div>
                                <div class="flex flex-wrap -mx-3 mb-6">
                                    <div class="w-full px-3">
                                        <label class="block uppercase tracking-wide text-gray-300 text-xs font-bold mb-2" for="grid-password">
                                            E-mail
                                        </label>
                                    <input autocomplete="off" asp-for="Email"
                                           class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded-lg py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="email">
                                    </div>
                                </div>
                            <div class="flex flex-wrap -mx-3 mb-6">
                                <div class="w-full px-3">
                                    <label class="block uppercase tracking-wide text-gray-300 text-xs font-bold mb-2" for="grid-password">
                                        Phone
                                    </label>
                                    <input autocomplete="off" asp-for="Phone"
                                           class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded-lg py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="text">
                                </div>
                            </div>
                            <button class="mt-3 text-lg font-semibold
                            bg-orange-600 w-full text-white rounded-lg
                                px-6 py-3 block shadow-xl hover:text-white hover:bg-orange-800">
                                Save Changes
                            </button>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
